<footer class="center-text">
  <p><small><a href="/about"><%= I18n.t :about %></a> - <a href="/copyright"><%= I18n.t :copyright %></a></small></p>
  <p><small>&copy; 2017-2019 Václav Zouzalík</small></p>
</footer>
