#main-language-selector {
  text-align: center
}

.navbar .search-container {
  float: right;
  width: 20em;
  padding: 15px 15px;
}

.main_logo {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
